$color-purple:#885CF6;
$color-pink:#EC4899;
$color-gray:#9CA3AF: 
$color-black:#1F2937:
$card-size: 23rem;

body{
width: 100vw;
height: 100vh;
display: flex; 
align-items: center;
Justify-content: center;
overflow: hidden; 
background-image: linear-gradient(45deg, $color-
purple, $color-pink);
font-family: Montserrat, sans-serif;
}

*{
box-sizing: border-box;
}
.carousel {

position:relative;
width:$card-size;
height:$card-size;
perspective:500px;


.icon{

display: block;
padding: 8px;
 border-radius: 50%;
background: #FFF;
stroke: #383838; 
transition: 2s ease-in;
}

&:hover.icon {
  transform: translateY(-16px);
}

}

.tab {

position: absolute;

top: 0; 
left: 0;
width: 100%; 
height: 100%;
z-index: -2; 
text-align: center;
font-size: 3ren; 
display: none; 
animation: grow 0.75 ease-in forwards;
clip-path: circle(10px at 50% 50%);
color: #FFF;
text-shadow: 2px 2px 10px rgba(0,0,0,.5);
transform: translateY(2cm);



h1 {
  color: #FFF;
  text-shadow: 2px 2px 2px rgba(0,0,0,5);
  transform: translateY(2em);
}

}










@each $tab, $color in (1, '#28958C'), (2, '#1DADC6'), (3, #42ASAS), (4, #02C7CE") {

    #tab-#{Stab)-radio:checked { &#tab-#(Stab} {
    
    display: block;
    
    background: #4$color} url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgA AAAUAAAAFCAYAAACNbyblAAAAJE1EQVQYV2NkwATGGhixgMID GeRBCECIEUWQbgATBBFACQIAK/DBDn.JP/KGAAAAAElFTkSuQmC C") repeat;;
    
    & label.icon (
    
    background: #{$color) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgA AAALAAAAFCAYAAACNbYbIAAAAJE1EQVQYV2NkwATGGhxgMD GERBCECIEUWQbgATBBFACQIAK/DBDJPrKGAAAAAElFTkSuQmC C") repeat;
    
    transform: translateY(-22px);
    
    >
    
    @keyframes grow {
    
    clip-path: circle(40ps at 50% 50%);
    
    100% (
    
    clip-path: circle(100% at 30% 50%);
    
    Follow @codingtilak
    
    @media only screen and (max-width: 400px) { .tabs h1 { font-size: 2ren; transform: translateY(6em);